<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springai.mapper.MemberMapper">

<select id="login" resultType="com.example.springai.dto.MemberDto">
    SELECT id, email, pw FROM member WHERE id = #{id} AND pw = #{pw}
</select>

    <select id="isIdDuplicate" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM member WHERE id = #{id}
    </select>

    <insert id="insertMember" parameterType="com.example.springai.dto.MemberDto">
        INSERT INTO member (id, email, pw) VALUES (#{id}, #{email}, #{pw})
    </insert>

    <select id="getMemberinfo" parameterType="string" resultType="com.example.springai.dto.MemberDto">
        SELECT id, email FROM member WHERE id = #{id}
    </select>

	<update id="updateMember" parameterType="com.example.springai.dto.MemberDto">
	    UPDATE member
	    SET
	        email = #{email},
	        pw = CASE WHEN #{pw} IS NULL OR #{pw} = '' THEN pw ELSE #{pw} END
	    WHERE id = #{id}
	</update>
</mapper> 